table.formLayout {
  border-collapse: collapse;line-height: 1.3;padding: 0;margin: 0 auto;
  // outline: 1px solid red;
  width: 99%;
  td { padding: 4px 0;
    &:nth-child(odd) {
      vertical-align: top; text-align: right;
      padding:1.2em 1em 0 0; width: 9em;
    }
    &:nth-child(even) { padding-right: 0; }
  }



  @media screen and (max-width: $wwMedium - 1) {
    display: block; width: auto;
    tbody {display: block;}
    tr, td, th {display: block; width: 100%;}
    td {padding: 1px 0;
      &:nth-child(odd) {
        width: 100%;padding: 1.5em 0 0 .8em;
        vertical-align: top;text-align: left;
      }
    }
  }
}

// 送出、清除等按鈕
.btnDv{
  text-align: center; margin: 1em auto; padding: 0 0 1em;
  input{ min-width: 10em;}
}

// 日期區間
.duration{
  display: flex; flex-wrap: wrap;
  &::before{
    flex: 0 0 1.5em;width: 1.5em;
    content: '~'; height: 2em; line-height: 3.4em;
    order: 1;  text-align: center;
  }
  input{ flex:0 1 calc(100% - 2em);}
  input:last-child{ order: 2; }

  @media screen and (min-width: 360px ){
    flex-wrap: nowrap;
    input{flex:1 1 calc(50% - 3em); cursor: pointer; min-width:0;}
  }
  @media screen and (min-width: $wwMedium){
    // max-width: 32em; 
  }
}

// 單選、複選
.optionPool{ margin: 3px;
  label{display: inline-block; margin:0 1em 3px 0; padding: .6em 1em .5em .6em; line-height: 1.5;
    &:hover{
      box-shadow: $borderColorLight 0 0 0 1px; border-radius: 2em;
    }
    input{ vertical-align: top; margin-top: .2em;}
  }
}

// 表單樣式
.formA{
  .formLayout{width: 90%;}
  h3{ 
    width: 90%;margin: 0 auto; padding: 0 0 20px; overflow: hidden; 
    font-size: 1.3rem; 
    .handle{float: right; font-weight: bold;}
  }
}


// 開合區
.drawer{
  button.handle{
    position: relative; height: 2.4em; line-height: 2.4; min-width: 8em;
    padding: 0 44px 0 28px;text-align: left;
    background-color: $grayLight; color: $fontColor; border-color: $gray;
    font-size: inherit;

    &:hover, &:focus{ background-color: $grayLight;border-color: $assistant1; box-shadow: none;}
    &:focus { box-shadow: $assistant1 0 0 0 1px;}

    &::after{
      content: ''; position: absolute; right: 20px; top: 50%; margin-top: -3px;
      width: 10px; height: 10px;
      border: 2px solid $fontColor; border-bottom: none; border-right: none;
      transform: rotate(45deg); transition: .3s;
    }

    &.openIt{
      &::after{
        transform: rotate(225deg); margin-top: -8px;
      }
    }
  }

  .tray {clear: both;}
}