// 項目 ul, li 條列 //
.list{
  position: relative; margin: 20px auto 0;  background: #fff;
  &>ul{
    list-style: none; margin: 0; padding: 0;
    line-height: 1.5; 
    border-top: 3px solid $borderColor; border-bottom: 3px solid $borderColor;
    &>li{
      border-bottom: 1px solid $borderColorLight; margin: 0; padding: 0;
      a{
        position: relative; display: block; padding: .9em 0 .9em 3em;
        text-decoration: none; color: $fontColor; transition: .2s;

        &:hover, &:focus{ 
          background-color: $grayLight; color: $fontColorDark;
          .title{ text-decoration: underline;}
        }
      }

      .numb{
        position: absolute; left: 0; top: .9em; width: 2em;
        text-align: right;
        &::after{content: '.';}
      }

      .title{ display: inline;}
      time{ margin-left: 1.2em; color: $fontColorLight; display: inline-block;}

      &:last-child{border-bottom: none;}
    }

  }

  @media screen and (min-width: $wwNormal){
    &>ul{
      
      &>li{
        a{ display: flex; flex-flow: row nowrap; padding-left: 0;}

        .numb{
          position: static; 
          flex: 0 0 3em; width: 3em; margin-right: 1em;
        }
        .title{ 
          flex: 1 1 calc(100% - 12rem); display: block;font-size: 1.125em;
        }
        time{
          flex: 0 0 6em; text-align: center;
        }
  
      }
    }
  }
}

// 表格 table 條列 //
.list{
  &.wide { margin-left: -5vw; margin-right: -5vw;}
  &.border{ border: 2px solid $borderColor;}
  &.stickyHead {
    thead{ 
      position: sticky; top: 0; background: $grayLight; z-index: 9;
      box-shadow: $borderColorDark 0 1px 0;
      tr{ border-bottom: none;}
    }
  }
  
  &>table{ border-collapse: collapse; line-height: 1.5; width: calc(100% - 8px); margin:4px;
    thead{
      tr{border-bottom-color: $borderColorDark;}
    }
    tbody tr:last-child{border-bottom: none;}

    tr{ border-bottom: 1px solid $borderColor; }
    th, td{ padding: 14px 16px 12px; position: relative;
      &::after{
        content: ''; position: absolute;
         width: 1px; background: $borderColor; top: 4px; bottom: 4px; left: 0;
      }
      &:first-child{
        &::after{background-color: transparent;}
      }
    }

    td{
      text-align: center;
      &.aLeft{ text-align: left;}
      &.aRight{ text-align: right;}

      &.numb{ text-align: right; 
        &::after{content: '.'; position: static;}
      }
      &[data-th="Title"], &[data-th="title"] { text-align: left; font-size: 1.125em; }
      &>a{
        color: $linkColor; text-decoration: none; transition: .2s;
        &:hover, &:focus{
         text-decoration: underline;color: $fontColorDark; 
        }
      }
      time{ display: inline-block; white-space: nowrap; }
    }


  }


  @media screen and (max-width: $wwNormal - 1){
    &.wide{ 
      margin-left: auto; margin-right: auto;
      &>table{
        thead{display: none;}
        tr, th, td{ display: block;}
        tr{ position: relative; overflow: hidden; padding: .8em 0 2em 3.4em;}
        th, td{
          position: static; margin: 0; text-align: left;
          &::after{display: none;}
        }

        td{
          padding:.3em 15px .3em 0;
          &::before {
            content: attr(data-th) ':'; display: inline-block; margin-right: .5em;
            color: $fontColorLight;
          }

          &.numb{
            position: absolute; top: .8em; left: 0;width: 2.4em; text-align: right;
            font-size: 1.125em; font-weight: bold;
            &::before{display: none;}
            &::after{display: inline-block;}
          }
          &>a{display: inline;}
        }
      }
    }
  }


  @media screen and (max-width: $wwMedium - 1px){
    &:not(.wide){
      &>table{
        thead{display: none;}
        tr, th, td{ display: block;}
        tr{ position: relative; overflow: hidden; padding: .8em 0 2em 3.4em;}
        th, td{
          position: static; padding: 0;margin: 0; text-align: left;
          &::after{display: none;}
        }
        td{
          padding:.3em 15px .3em 0;
          &::before {
            content: attr(data-th) ':'; display: inline-block; margin-right: .5em;
            color: $fontColorLight;
          }

          &.numb{
            position: absolute; top: .8em; left: 0;width: 2.4em; text-align: right;
            font-size: 1.125em; font-weight: bold;
            &::before{ display: none;}
            &::after{display: inline-block;}
          }
          .downloadFiles{ display: inline-block; vertical-align: top;}
        }
      }
    }
  }
}
