// 項目 ul, li 條列 //
.list{
  margin: 20px auto 0;  background: #fff;
  &>ul{
    list-style: none; margin: 0; padding: 0;
    line-height: 1.5; font-size: 1.125rem;
    border-top: 3px solid $borderColor; border-bottom: 3px solid $borderColor;
    &>li{
      border-bottom: 1px solid $borderColorLight; margin: 0; padding: 0;
      a{
        position: relative; display: flex; flex-flow: row nowrap;
        padding: .9em 0;
        text-decoration: none; color: $fontColor; transition: .2s;

        &:hover, &:focus{ background-color: $grayLight; color: $fontColorDark;
          .title{ text-decoration: underline;}
        }

        // &>*{border: 1px solid pink;}
      }

      .numb{
        flex: 1 0 2em; margin-right: 1em; text-align: right;
        &::after{content: '.';}
      }

      .title{ flex: 1 0 calc(100% - 13em); display: inline-block; margin-right: 1em;}
      time{
        flex: 0 0 8em;
        text-align: center;
      }

      &:last-child{border-bottom: none;}
    }

  }
}

// 表格 table 條列 //
.list{
  position: relative;
  &>table{ border-collapse: collapse; line-height: 1.5; width: calc(100% - 16px); margin:8px;

    &::before{
      content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0;
      box-shadow: $borderColor 0 0 0 2px inset;
    }
    
    tr{ border-bottom: 1px solid $borderColor;}
    th, td{ padding: 14px 16px 12px; position: relative;
      &::before{
        content: ''; position: absolute;
         width: 1px; background: $borderColor; top: 4px; bottom: 4px; left: 0;
      }
      &:first-child{
        &::before{display: none;}
      }
    }
    th{ white-space: nowrap;
      &::before{top: 6px; padding-top: 16px;}
    }

    td{ text-align: center;
      &.numb{ text-align: right; }
      &>a{
        display: block;
        font-size: 1.2em; text-align: left;  color: $linkColor; text-decoration: none;
        transition: .2s;
        &:hover, &:focus{
         text-decoration: underline;color: $fontColorDark; 
        }
      }
      time{ display: inline-block; white-space: nowrap; }
    }

    thead tr{ border-bottom-color: $borderColorDark;}
    tbody tr:last-child{border-bottom: none;}

  }



  @media screen and (max-width: $wwMedium - 1px){
    &>table{
      thead{display: none;}
      tr, th, td{ display: block;}
      tr{ position: relative; overflow: hidden; padding: .8em 0 .7em 3.4em;}
      th, td{
        position: static; padding: 0;margin: 0; text-align: left;
        &::before{display: none;}
      }
      td{ 
        &.numb{
          position: absolute; top: .8em; left: 0;width: 2.4em;
          font-size: 1.125em; font-weight: bold;
          &::after{content: '.';}
        }
        &>a{display: block; }

        time{position: absolute; right: 0; bottom: .7em;}
        .downloadFiles{ margin:.5em 5.5em 0 -3px;}
      }
    }
  }
}
