// 現在位置
.breadcrumb {
  @extend %mainWidth;
  padding: 2px 0;margin: 40px auto 3px;
  ul, li{ list-style: none; margin: 0;padding: 0;}
  ul{line-height: 1.2; overflow: hidden; }
  li{float: left; position: relative;
    &:nth-child(n+2){padding-left: 2em;
      &::before{ content: '';position: absolute; left: 1em; top: .1em; 
        width: 2px; height: 1em; background: #000;
        transform: rotate(20deg);border-bottom: none; border-left: none;
      }
    }
    &:first-child{padding-left: 0;}
    a{display: block; text-decoration: none;
      border-bottom: 2px solid transparent;
        // &:hover, &:focus{ }
    }
  }
}

// 內頁標題 //
.pageHeader{
  margin: 2em auto 1em;
  color: $fontColorDark; font-size: 1.5rem; line-height: 1.5;
  h2{
    padding: 0; margin: 0;
    // .subheading{ display: inline-block; font-size: .8em;}
  }
}

// 列印、分享、返回 等功能圖示 //
.funcBar{
  font-size: 1rem; z-index: 99; position: relative;
  ul{ list-style: none; margin: 0;padding: 0; text-align: center;}
  &>ul{display: flex; flex-flow: row wrap; justify-content: flex-end;
    &>li{
      position: relative; margin:5px;padding: 0; text-indent: -20em;
      &>ul{ position: absolute; top: auto; left: 0; display: none;}
      li{ margin: 8px 0; padding: 0;
        a, button{background-color: lighten($grayDark, 15%);}
      }

      a, button{
        display: block;width: 44px; height: 44px; overflow: hidden;margin: 0; padding: 0;
        background-color: $grayDark; background-repeat: no-repeat; background-position: center center;
        color: $fontInvert; border: none; border-radius: 50%;
        transition: .2s;
        &:hover, &:focus{
          box-shadow: $primaryColor 0 0 0 3px;
          background-color: $primaryColor;
        }
      }
      img{ display: block; width: 100%; height: 100%; margin: 0 auto;border-radius: 50%; }
  
      &.back>a{
        background-image: url(../images/icon_back.png);
        background-size: 36px;
      }
      &.print>a{
        background-image: url(../images/icon_print.png);
        background-size: 24px;
      }
      &.share{
        &>button{
          background-image: url(../images/icon_share.png);
          background-size: 24px;
        }
        li{
          &>a{ background-color: transparent;}
        }
      }
    }
  }
}

// 文字大小 //
.fontSize{
  button{ line-height: 44px; }
  .small{ font-size: .85rem;}
  .medium{ font-size: 1.125rem;}
  .large{ font-size: 1.3rem;}
}



// 列表上方的文字
.preface{
  padding:1em 2em; margin: 2em auto; line-height: 2;
  background: #fff; border-radius: 16px;
  box-shadow: rgba(0,0,0,.15) 0 0 20px;
}

// 檔案類型
.fileType{
  display: inline-block; vertical-align: middle; margin: 0 1px;
  a{ 
    display: block; position: relative; width: 2.6em; height: 3em; line-height:4.2em;
    font-size: .92em; text-decoration: none;text-align: center;
    color: $fontInvert; background-color: #ddd; border-radius: 2px; transition: .2s;
    &::before{
      content: ''; position: absolute; top: 8px; left: 8px; right: 8px; height: 1px;
      background-color: rgba(255,255,255,.7);
      box-shadow: rgba(255,255,255,.7) 0 5px 0, rgba(255,255,255,.7) 0 10px 0;
    }
    &:hover, &:focus{border-radius: 2px;}
  }

  &.mp3, &.mp4, &.mov, &.wmv{
    a{
      &::before{
        width: 0; height: 0; top: 10px; left: 16px; right: auto;
        background-color: transparent;box-shadow: none;
        border-style: solid;border-width: 5px 0 5px 8px;
        border-color: transparent transparent transparent rgba(255,255,255,.8);
      }
    }
  }
  &.jpg{
    a{
      &::before{
        width: 10px; height: 10px; top: 9px; right: auto; left: 8px;
        background-color: rgba(255,255,255,.8);box-shadow: none;
      }
      &::after{
        position: absolute; content: '';
        width: 12px; height: 12px; top: 8px; right: 7px; left: auto;
        border-radius: 50%;
        background-color: rgba(255,255,255,.8);box-shadow: none;
      }
    }
  }

  &.zip a{background:#333;
    &:hover, &:focus{box-shadow: #333 0 0 0 2px;}
  }
  &.pdf a{background:#c00;
    &:hover, &:focus{box-shadow: #c00 0 0 0 2px;}
  }
  &.doc , &.docx, &.odt{
    a{background:#1b76cb;
      &:hover, &:focus{box-shadow: #1b76cb 0 0 0 2px;}
    }
  }
  &.xls, &.xlsx, &.csv, &.ods {
    a{background:#48920f;
      &:hover, &:focus{box-shadow: #48920f 0 0 0 2px;}
    }
  }
  &.ppt, &.pptx, &.odp{
    a{background:#c43e1c;
      &:hover, &:focus{box-shadow: #c43e1c 0 0 0 2px;}
    }
  }
  &.txt a{background:#1d98e4;
    &:hover, &:focus{box-shadow: #1d98e4 0 0 0 2px;}
  }
  &.jpg a{background:#0b9fb2;
    &:hover, &:focus{box-shadow: #0b9fb2 0 0 0 2px;}
  }
  &.mp3, &.mp4 {
    a{ background:#9d3a89;
      &:hover, &:focus{box-shadow: #9d3a89 0 0 0 2px;}
    }
  }
  &.mov, &.wmv{
    a{background:#5843a9;
      &:hover, &:focus{box-shadow: #5843a9 0 0 0 2px;}
    }
  }
  &.other a{background:#555;
    &:hover, &:focus{box-shadow: #555 0 0 0 2px;}
  }
}

.downloadFiles{
  list-style: none; margin: 0; padding: 0; overflow: hidden;
  li{
    float: left; margin: 3px;
  }
}