// 節點頁 //
.np{
  @extend %mainWidth; padding: 50px 0; font-size: 1.2rem;
  ul{ list-style: none; margin: 0; padding: 0; line-height: 1.6;}
  li{ padding: 2px 0;
    a{
      position: relative; display: block; padding: .7em .5em .65em 26px;
      text-decoration: none; color: $fontColor;
    }
  }
  &>ul>li>a{ padding-left: 30px;}
  &>ul{ margin: 15px 0;
    &>li{
      margin: 5px 0 10px; padding:0;
      &>a{
        padding: .9em .5em .8em 24px; height: 100%;
        box-shadow: $borderColor 0 0 0 1px;
        &::before{
          content: ''; position: absolute; left:0; top:0; bottom: 0; width: 8px;
          background-color: $primaryColor;
        }
        &:hover, &:focus{
          box-shadow: $primaryColor 0 0 0 1px, $borderColor 0 6px 24px -3px;
          @extend %grandient; color: $fontInvert; z-index: 9;
        }
      }
    }
  }
  @media screen and (min-width: $wwMedium){
    &>ul{
      display: flex; flex-flow: row wrap; justify-content: space-between;
      &>li{ flex:0 0 calc(50% - 5px); margin: 5px;
        &:nth-child(odd){ margin-left: 0;}
        &:nth-child(even){ margin-right: 0;}
      }
    }  
  }
}